#servicios {
 
    
}

#servicios h2 {
    font-size: 4rem;
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
    font-family: Berkshire Swash,sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: white;
}

.card-center{
    max-width: 900px;
    text-align: center;
  }

