/* Carousel container */
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Carousel items */
  .carousel__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 400px;
    text-align: center;
  }
  
  /* Person name */
  .carousel__name {
    margin-top: auto;
    margin-left: 10px;
    font-weight: bold;
  }
  
  /* Person text */
  .carousel__text {
    margin-top: 10px;
    font-size: 14px;
  }