#testimonios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3f3045 !important;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#testimonios h2 {
    font-family: 'Berkshire Swash', sans-serif;
    color:rgb(255, 255, 255);
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
    font-size: 3.5rem;
}

.container-carousel{
    margin-bottom: 3rem !important;
    margin-top: 1rem !important;
}