* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

nav {
  background-color: red;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2 rem;
}

nav #logo {
  width: 110px;
}

nav #right{
display: flex;
flex-direction: row;
}