

#menu-sup {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  transition: height 0.4s ease-in-out;
  background-color: #3f3045;
  z-index: 999;
}

#links a p{
  color: rgb(247, 247, 247) !important
}


#links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}

#center{
  align-items: center;
  display: flex;
  flex-direction: column;
}

#logo-sup {
  display: block;
  margin: 0 auto;
  transition: transform 0.9s ease-in-out, opacity 2s ease-in-out;
  transform: translateY(0%);
  opacity: 1;
  width: 90px;
  height: 90px;
  
}

#span{
  display: block;
  margin: 0 auto;
  height: 0;
  transition: transform 0.6s ease-in-out, opacity 2s ease-in-out;
  transform: translateY(200%);
  opacity: 0;
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
  font-family: Berkshire Swash,sans-serif;
  width: 100%;
  height: 0;
  
}


#left {
  visibility: hidden;
}

.nav-btn {
  display: none;
}

header nav a {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-size: 13px;
}

nav a:hover {
  font-weight: bold;
}

header .nav-btn {
  color: white;
  background-color: #3f3045;
}

h1 {
  font-family: 'Berkshire Swash', sans-serif;
}



@media only screen and (max-width: 1024px) {
  header .nav-btn {
    display: flex;
    left: 15;
    visibility: visible;
    opacity: 1;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.7rem;
    min-height: 15%;
  }

  #links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 15%;
    height: 35%;
    width: 100%;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.509);
  }



  header nav a {
    display: flex; /* convierte la etiqueta a en un contenedor flexible */
    justify-content: center; /* centra horizontalmente el contenido */
    align-items: center; /* centra verticalmente el contenido */
    height: 100%; /* establece la altura del contenedor en 100% */
    width: 100%;
    border-top: 1px dotted rgba(0, 0, 0, 0.275);
    
  }


  #left {
    display: flex;
    margin-left: 5%;
    flex-direction: column;
    visibility: visible;
  }

  #center {
    display: none;
  }

  #rigth {
    display: flex;
    margin-right: 5%;
    flex-direction: column;
  }


  #menu-sup {
    display: flex;
    flex-direction: row;
    min-height: 15%;
    
  }

  header nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #302535;
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 4%;
    right: 8%;
    color: white;
    margin: 0;
    font-size: 1rem;
  }

 


}