#Testimonios{
  width: 100%;
  height: 100%;
}

.carousel .slide img {
  width: 87%;
  vertical-align: top;
  border: 0;
}

/* .carousel .slide .legend {
  bottom: 0px;
  width: 50%;
  margin-left: 0%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}  */

.carousel .control-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.carousel-wrapper {
  width: 450px;
  margin:auto;
  margin-bottom: 3rem;

}

.carousel .slide {
  /* background-color: rgba(0, 0, 0, 0.433); */
  margin-bottom: 30px;
}

/* .carousel:hover .slide .legend {
  opacity: 0.5;
} */

.carousel.carousel-slider .control-arrow:hover {
  background: none;
}


.carousel .carousel-status {
  display: none;
}


.testimonios-title{
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.Testimonios h3{
  padding-bottom: 1.5rem;
}

@media (max-width: 500px) {
  .carousel-wrapper {
    width: 85%;
    margin: auto;
  }

}
