body {
  font-family: Cinzel Decorative;
  color: #f8f9fa;
  background: #3f3045;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
